.box {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
  }
  
  .media {
    display: flex;
    align-items: center;
  }
  
  .media-left {
    margin-right: 10px;
  }
  
  .image {
    border-radius: 8px;
  }
  
  .media-content {
    flex: 1;
  }
  
  .content {
    font-size: 18px;
  }
  
  .media-right {
    display: flex;
    align-items: center;
  }
  
  .field {
    margin-bottom: 0;
  }
  
  .input {
    max-width: 40px;
    text-align: center;
  }
  
  .button {
    background-color: #5cb85c;
    color: #fff;
    font-weight: bold;
  }
  